In [49]:
x=np.arange(10)
y=np.random.randint(10)
x.size

10

In [1]:
import pandas as pd
import seaborn as sns
khouse_train = pd.read_csv('kc_house_train_data.csv',dtype = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int})

In [2]:
import numpy as np
import matplotlib as plt
%matplotlib inline
khouse_train.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340.0,5650.0
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690.0,7639.0
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720.0,8062.0
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360.0,5000.0
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800.0,7503.0

In [3]:
def simple_linear_regression(input_feature, output):
    x_x = input_feature*input_feature
    x_y = input_feature*output
    x=input_feature
    y=output
    slope = (x_y.sum()-y.sum()*x.sum()/x.size)/(x_x.sum()-x.sum()**2/x.size)
    intercept = y.mean()-slope*x.mean()
    return(intercept, slope)


def get_regression_predictions(input_feature, intercept,slope):
    predicted_output = input_feature*slope+intercept
    return(predicted_output)


def get_residual_sum_of_squares(input_feature, output, intercept,slope):
    RSS = ((output-input_feature*slope-intercept)**2).sum()
    return(RSS)

In [4]:
squarefeet_intercept, squarefeet_slope = simple_linear_regression(khouse_train['sqft_living'],khouse_train['price'])
bedrooms_intercept, bedrooms_slope = simple_linear_regression(khouse_train['bedrooms'], khouse_train['price'])

In [48]:
# Quiz Question: Using your Slope and Intercept from (4), What is the predicted price for a house with 2650 sqft?
print(squarefeet_intercept+squarefeet_slope*2650)

# 8. Quiz Question: According to this function and the slope and intercept from (4) What is the RSS for the simple linear regression using squarefeet to predict prices on TRAINING data?
print('RSS: ',get_residual_sum_of_squares(khouse_train['sqft_living'], khouse_train['price'], squarefeet_intercept, squarefeet_slope))

# 10. Quiz Question: According to this function and the regression slope and intercept from (3) what is the estimated square-feet for a house costing $800,000?
print((800000-squarefeet_intercept)/squarefeet_slope)

700074.8459475137
RSS:  1201918354177283.0
3004.3962451522766

In [47]:
get_residual_sum_of_squares(khouse_train['bedrooms'], khouse_train['price'], bedrooms_intercept, bedrooms_slope)

2143244498161979.2

In [ ]:
1201918354177283.0
2143244498161979.2

In [5]:
print(squarefeet_intercept)
print(squarefeet_slope)

-47116.07907289418
281.9588396303426